body {
	margin: 0;
	font-family: sans-serif;
	--brand-color: rgb(185, 39, 14);
	--brand-color-on-hover: rgb(180, 52, 30);
	--background-color: #000;
	--color: #fff;
	background-color: var(--background-color);
}
button {
	background-color: inherit;
	color: inherit;
	border: none;
	cursor: pointer;
}
.customProperties h4 {
	margin: 0.5rem 0 0.1rem;
}
#game {
	min-height: 100vh;
	position: relative;
	--toolbar-height: 2.5rem;
	--header-height: 2.5rem;
	--header-height-plus-toolbar-height: calc(var(--header-height) + var(--toolbar-height));
	min-width: 300px;
	overflow-x: hidden;
}
input {
	border-radius: 4px;
	padding-left: 8px;
}
input[type=radio] {
	margin-left: 32px;
}

#site-header {
	flex: 0	0 auto;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	background-color: var(--brand-color);
	color: #fff;
	position: fixed;
	width: 100%;
	z-index: 2;
	padding: 0 1rem;
	box-sizing: border-box;
}
#header-menu-svg {
	width: 2rem;
	height: auto;
}
#header-logo-a, .header-nav-a, #accountBtn {
	color: inherit;
	text-decoration: none;
	height: var(--header-height);
	line-height: var(--header-height);
	font-size: 1.1rem;
}
#logo {
	font-size: 1.6rem;
	margin: 0;
}
.header-nav {
	transform: translateX(-100%);
	position: fixed;
	width: 80%;
	top: var(--header-height);
	bottom: 0;
	left: 0;
	background-color: var(--brand-color);
	padding: 1rem;
	transition: transform 0.25s ease-in-out;
}
.header-nav-show {
	transform: translateX(0);
}
.header-nav-a {
	display: block;
	color: #ccc;
}
.header-nav-a:hover {
	color: #fff;
}
.toolbar {
	position: absolute;
	top: var(--header-height);
	left: 0px;
	height: var(--toolbar-height);
	width: 100%;
	background-color: #222;
	display: none;
	align-items: center;
	justify-content: space-between;
	overflow: auto;
	z-index: 1;
}
.toolbarBtn {
	border-radius: 100%;
	width: auto;
	height: 100%;
	flex-shrink: 0;
	display: block;
}
.toolbarBtn:hover {
	background-color: #444;
}
.activeBtn {
	background-color: #888;
}
.activeBtn:hover {
	background-color: #888;
}
.overlay {
	display: none;
	background-color: var(--background-color);
	flex: 1 1 0;
	padding: 2rem 1rem;
	z-index: 1;
	position: absolute;
	top: var(--header-height);
	min-height: calc(100vh - var(--header-height));
	width: 100%;
	box-sizing: border-box;
}
.modal {
	background-color: #222;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin: 0 auto;
	display: none;
	padding: 0.5rem 1rem;
	border-radius: 2px;
	color: #fff;
	box-sizing: border-box;
	max-height: 80vh;
	max-width: 90vw;
	min-width: inherit;
	overflow: auto;
	z-index: 3;
}
.modalHeader {
	margin: 0 0 1rem;
	font-size: 2rem;
	font-weight: 700;
}
.startSimulationBtn, .stopSimulationBtn, .backBtn {
	border-radius: 0px;
}
.startSimulationBtn {
	background-color: #0a0;
}
.startSimulationBtn:hover {
	background-color: #0f0;
}
.stopSimulationBtn {
	background-color: #a00;
}
.stopSimulationBtn:hover {
	background-color: #f00;
}
.backBtn {
	background-color: #a00;
}
.backBtn:hover {
	background-color: #f00;
}
.closeBtn {
	height: 32px;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: inherit;
	padding: 0.2rem;
}
.closeBtn:hover {
	background-color: #b00;
}
.btn {
	width: max-content;
	background-color: #444;
	color: #fff;
	border-radius: 2px;
	margin: 8px auto;
	padding: 8px;
	border: none;
	cursor: pointer;
}
.smallBtn {
	font-size: 14px;
	border-radius: 1px;
	margin: 4px auto;
	padding: 4px;
	border: none;
}
.btn:hover {
	background-color: #666;
}
.errMessage {
	color: #f44;
}
#tutorialUi {
	text-align: center;
	top: calc(2rem + var(--header-height-plus-toolbar-height));
	transform: translateX(-50%) translateY(0);
}
#tutorialImgDiv {
	overflow: auto;
}
#tutorialImg {
	max-width: 100%;
	height: auto;
}
#tutorialShowBtn {
	display: none;
}
#reuseableHtml {
	display: none;
}
#canvas {
	top: var(--header-height-plus-toolbar-height);
	cursor: crosshair;
	touch-action: none;
	width: 100%;
	height: calc(100vh - var(--header-height-plus-toolbar-height));
	position: absolute;
}
/* remove */
#level-input {
	display: block;
	margin-left: 20px;
}
#browser-container {
	display: flex;
	flex-direction: column;
	padding: 16px 0 0 0;
	margin: 0 auto;
	max-width: 60rem;
}
#content-container {
	margin: 16px 0;
	overflow-y: auto;
}
#load-more-btn {
	width: 100%;
	padding: 16px 0;
	margin: 0px;
	text-align: center;
}
#sort-by-container, #search-container, #search-input, #sort-by-select, option {
	color: #fff;
	background-color: #111;
	height: 32px;
}
#sort-by-container {
	float: right;
}		
#search-container {
	float: left;
}
#search-btn {
	height: 100%;
	vertical-align: bottom;
	cursor: pointer;
}
#search-input {
	background-color: #000;
}
#levelBrowser {
	color: #fff;
	border-collapse: collapse;
	border: none;
	text-align: center;
	width: 100%;
}
tbody:hover {
	cursor: pointer;
}
tr {
	background-color: #048;
}
tr:hover {
	background-color: #06b;
}
td, th {
	padding: 0.5rem;
	font-size: 1.2rem;
}
th {
	background-color: #000;
	position: sticky;
	top: 0;
}
.completed-level {
	background-color: #840;
}
.completed-level:hover {
	background-color: #b60;
}
#points-widget {
	margin: 0 auto;
	text-align: center;
}
#play-btn {
	background-color: #048;
	font-size: 24px;
	padding: 8px;
}
#play-btn:hover {
	background-color: #06b;
}
#save-ui {
	max-width: 480px;
}
#login-message {
	margin: 1rem 0;
}
#level-info {
	display: none;
	color: #fff;
	font-size: 1.5rem;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}
#registerBtn {
	margin: 8px 0;
}
#menu-nav {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 12rem);
	grid-gap: 4rem;
	margin: 10% 0;
}
.menu-nav-a {
	text-decoration: none;
	color: var(--color);
	display: block;
	font-size: 1.5rem;
	background-color: var(--brand-color);
	padding: 1rem;
	text-align: center;
}
.menu-nav-a:hover {
	background-color: var(--brand-color-on-hover);
}
.success-increment-btn {
	width: 3rem;
	height: auto;
}
.submitBtn {
	margin-top: 1rem;
	padding: 0.2rem 0.5rem;
}
@media (min-width: 32rem){
	#header-menu-btn {
		display: none;
	}
	.header-nav {
		transform: none;
		position: static;
		width: auto;
		padding: 0;
	}
	.header-nav-a {
		display: inline;
		padding: 0.5rem;
	}
	.modal {
		padding: 1rem 2rem;
	}
	.overlay {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}