body {
	margin: 0;
	font-family: sans-serif;
	--brand-color: rgb(185, 39, 14);
	--brand-color-on-hover: rgb(218, 54, 25);
	--background-color: #000;
	--color: #fff;
	background-color: var(--background-color);
	color: var(--color);
}
button, input[type=submit] {
	background-color: #444;
	color: #fff;
	cursor: pointer;
	border: none;
	font-size: inherit;
	text-align: center;
	display: block;
	padding: 0.4em 0.8em;
	border-radius: 0;
}
button:hover, input[type=submit]:hover {
	background-color: #888;
}
a {
	color: #aaf;
}
a:hover {
	color: #ccf;
}
.block-btn {
	display: block;
	margin: 1em auto;
}
.customProperties h4 {
	margin: 0.5rem 0 0.1rem;
}
#game {
	min-height: 100vh;
	position: relative;
	--toolbar-height: 2.5rem;
	--header-height: 2.5rem;
	--header-height-plus-toolbar-height: calc(var(--header-height) + var(--toolbar-height));
	min-width: 300px;
	overflow-x: hidden;
}
input[type=email], input[type=password], input[type=number], input[type=text], input[type=search] {
	margin: 0.2em 0 1em;
	display: block;
	background-color: #444;
	color: #fff;
}
input[type=radio] {
	margin-left: 32px;
}
label {
	display: block;
	margin-top: 0.5em;
}
select {
	color: #fff;
	background-color: #111;
}
#site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--header-height);
	position: fixed;
	width: 100%;
	z-index: 2;
	padding: 0 1rem;
	box-sizing: border-box;
	background-color: var(--brand-color);
}
#header-menu-btn {
	background-color: inherit;
	color: inherit;
	padding: 0;
	margin-right: 1rem;
	z-index: 1;
}
#header-menu-svg {
	width: auto;
	height: calc(var(--header-height) * 0.5);
	display: block;
}
.header-nav-a, #accountBtn {
	font-size: 1.1rem;
}
#accountBtn {
	background-color: inherit;
	padding: 0;
	z-index: 1;
}
#header-logo {
	height: var(--header-height);
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#header-logo-svg {
	height: calc(var(--header-height) * 0.7);
	width: auto;
}
.header-nav {
	transform: translateX(-100%);
	position: fixed;
	width: 66%;
	top: var(--header-height);
	bottom: 0;
	left: 0;
	padding: 1rem;
	transition: transform 0.25s ease-in-out;
	background-color: var(--brand-color);
	line-height: 2;
}
.header-nav-show {
	transform: translateX(0);
}
.header-nav-a {
	display: block;
	color: #ccc;
	text-decoration: none;
}
.header-nav-a:hover {
	color: #fff;
}
.toolbar {
	position: absolute;
	top: var(--header-height);
	left: 0px;
	height: var(--toolbar-height);
	width: 100%;
	background-color: #222;
	display: none;
	align-items: center;
	justify-content: space-between;
	overflow: auto;
	z-index: 1;
}
.toolbarBtn {
	border-radius: 100%;
	width: auto;
	height: 100%;
	flex-shrink: 0;
	display: block;
}
.toolbarBtn:hover {
	background-color: #444;
}
.activeBtn {
	background-color: #888;
}
.activeBtn:hover {
	background-color: #888;
}
.overlay {
	display: none;
	background-color: var(--background-color);
	flex: 1 1 0;
	padding: 2rem 1rem;
	z-index: 1;
	position: absolute;
	top: var(--header-height);
	min-height: calc(100vh - var(--header-height));
	width: 100%;
	box-sizing: border-box;
}
.modal {
	background-color: #222;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin: 0 auto;
	display: none;
	padding: 0.5rem 1rem 1rem;
	border-radius: 2px;
	box-sizing: border-box;
	max-height: 80vh;
	max-width: 90vw;
	min-width: inherit;
	overflow: auto;
	z-index: 1;
}
.modalHeader {
	margin: 0 0 1rem;
	font-size: 2rem;
}
.startSimulationBtn, .stopSimulationBtn, .backBtn {
	border-radius: 0px;
}
.startSimulationBtn {
	background-color: #0a0;
}
.startSimulationBtn:hover {
	background-color: #0f0;
}
.stopSimulationBtn {
	background-color: #a00;
}
.stopSimulationBtn:hover {
	background-color: #f00;
}
.closeBtn {
	height: 32px;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: inherit;
	padding: 0.2rem;
}
.closeBtn:hover {
	background-color: #b00;
}
.errMessage {
	color: #f44;
}
#tutorialUi {
	text-align: center;
	top: calc(1rem + var(--header-height-plus-toolbar-height));
	max-height: calc(95vh - var(--header-height-plus-toolbar-height) - 1rem);
	transform: translateX(-50%) translateY(0);
	padding: 1rem;
	min-width: 100px;
	max-width: 50rem;
	width: 90vw;
}
/*
#tutorialImgDiv {
	overflow: auto;
}
#tutorialImg {
	max-width: 100%;
	height: auto;
}
*/
.tutorial-img {
	display: block;
	margin: 1rem auto;
	max-width: 100%;
	height: auto;
}
#tutorialShowBtn {
	display: none;
}
#reuseableHtml {
	display: none;
}
#canvas {
	top: var(--header-height-plus-toolbar-height);
	cursor: crosshair;
	touch-action: none;
	width: 100%;
	height: calc(100vh - var(--header-height-plus-toolbar-height));
	position: absolute;
}
#browser-container {
	display: flex;
	flex-direction: column;
	padding: 16px 0 0 0;
	margin: 0 auto;
	max-width: 60rem;
}
#content-container {
	margin: 16px 0;
	overflow-y: auto;
}
#load-more-btn {
	width: 100%;
	padding: 1rem 0;
	margin: 0px;
	text-align: center;
}
#filter-container {
	display: flex;
	justify-content: space-between;
}
#search-btn {
	height: 1.5rem;
	width: auto;
	vertical-align: bottom;
	cursor: pointer;
}
#search-input {
	display: inline-block;
	margin: 0;
}
#levelBrowser {
	border-collapse: collapse;
	border: none;
	text-align: center;
	width: 100%;
}
tbody:hover {
	cursor: pointer;
}
tr {
	background-color: #048;
}
tr:hover {
	background-color: #06b;
}
td, th {
	padding: 0.5rem;
	font-size: 1.2rem;
}
th {
	background-color: #000;
	position: sticky;
	top: 0;
}
.completed-level {
	background-color: #840;
}
.completed-level:hover {
	background-color: #b60;
}
#points-widget {
	margin: 0 auto;
	text-align: center;
}
#play-btn {
	background-color: #048;
	font-size: 1.5rem;
}
#play-btn:hover {
	background-color: #06b;
}
#level-info {
	display: none;
	font-size: 1.4rem;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}
.menu-nav-a {
	text-decoration: none;
	display: block;
	font-size: 1.4rem;
	background-color: var(--brand-color);
	padding: 1rem;
	text-align: center;
	color: inherit;
	margin: 2rem 0;
}
.menu-nav-a:hover {
	background-color: var(--brand-color-on-hover);
	color: inherit;
}
.success-increment-btn {
	width: 3rem;
	height: auto;
}
#register-show-passwords-btn {
	margin-bottom: 1rem;
}
#menu-nav {
	margin: 2rem auto;
	max-width: 32rem;
}
#menu-logo {
	margin: 1rem auto;
	display: block;
}
#menu-hero {
	text-align: center;
	max-width: 60rem;
	margin: 0 auto;
}
@media (min-width: 32rem){
	#header-menu-btn {
		display: none;
	}
  #header-logo {
		display: block;
		position: static;
		width: auto;
		height: auto;
	}
	.header-nav {
		transform: none;
		position: static;
		width: auto;
		padding: 0;
	}
	.header-nav-a {
		display: inline;
		padding: 0.5rem;
	}
	.modal {
		padding: 1rem 2rem 2rem;
	}
	.overlay {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}